# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.StackTheShipping.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Irem\Desktop\UnityProjects\StackTheShipping\.idea\.idea.StackTheShipping\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
